html {
  font-size: 1.375em;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.element {
  border: 1px solid black;
  padding: 5px;
  width: 150px;
  width: 150px;
}

.element .number {
  font-size: 1em;
}

.element .symbol {
  font-size: 3em;
}

.footer {
  bottom: 0;
  font-size: 0.75em;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}
